//usually some item you want to stand out from the design
//eg. navigation, button color/background color
$primaryColor: #002885;

//usually some item you want to stand out from the design
//eg. navigation, button color/background color
$secondaryColor: #CB986C;

//major background color (default: #fff)
$thirdColor: #002441;

//secondary background color, usually to make item stand out from major background (default: #000)
$fouthColor: #eeeeee;

$warningColor: #D69E2E;
$successColor: #38A169;
$dangerColor: #E53E3E;
$infoColor: #5A67D8;


$twitterColor: #00acee;
$facebookColor: #3b5998;
$linkedinColor: #0e76a8;