@import "color";
@import "breakpoint";


///TODO: grid view can be programatically coded into a function.

@mixin cards($primaryColor, $secondaryColor, $thirdColor, $fouthColor) {
    .card-container{

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-column-gap: 3rem;
        grid-row-gap: 3rem;
        justify-items: center;
        padding: 2rem;
        @if ($thirdColor){
            background-color: $thirdColor;
        }
        @else {
            background-color: none;
        }
    
        & .card{
            max-width: 320px;
            border: 0;
            box-shadow: none;
            @if ($fouthColor){
                background-color: $fouthColor;
            }
            @else {
                background-color: none;
            }
            
        }
    
        & .card-img{
            max-height: 230px;
        }
    
        & .card-content{
            padding: 1rem 2rem;
            display: grid;
            justify-items: center;
            grid-row-gap: 1rem;
        }

        & a{
            background-color: $primaryColor;
            color: $secondaryColor;
        }
    }
}

@include cards($primaryColor, $secondaryColor, $thirdColor, $fouthColor);


//square cards
@mixin squareCards() {
    .square-cards{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-column-gap: 3rem;
        grid-row-gap: 3rem;
        text-align: center;
        margin-bottom: 3rem;
    
        & .square-card .inner{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 2rem;
        }
     
    }
}

@include squareCards();

//price cards
@mixin priceCards() {
    .price-cards{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-column-gap: 3rem;
        grid-row-gap: calc(160px + 1rem);
        
        & .outer::before{
            padding-top: (473 / 445) * 100%;
        }
    
        & .cards{

            border-top: 1.5rem solid $secondaryColor;
            background-color: $fouthColor;

            & .card-title{
                border-bottom: 5px solid #fff;
                position: relative;
                margin-bottom: 0;

                > h3{
                    padding: 2rem;
                    padding-bottom: 1rem;

                    @include media(">xlargedesktop"){
                        padding: 3rem;
                        padding-bottom: 1rem;
                    }
                }

                > span{
                    text-transform: uppercase;
                    background-color: $secondaryColor;
                    padding: .5rem 1rem;
                    color: white;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }

                
            }

            & .card-content{
                padding: 2rem;
                padding-top: .5rem;
                padding-bottom: 4rem;

                > h3{
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }

                @include media(">xlargedesktop"){
                    padding: 3rem;
                    padding-top: 1rem;
                    padding-bottom: 6rem;
                }
            }

            & .card-btn{
                position: absolute;
                background: #fff;
                padding: 2rem;
                display: table;
                top: calc(100% - 2rem);
                left: 50%;
                transform: translateX(-50%);
                width: max-content;

                > div{

                    &:nth-child(1){
                        margin-bottom: 2rem;
                    }

                    > a{
                        text-transform: uppercase;
                    }
                }

                
            }
        }
     
    }
}

@include priceCards();





//team cards

@mixin teamCards {
    .team-cards{

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
        // justify-items: center;
        text-align: center;

        .team-card{

            & .card-title{
                margin-top: 1rem;
                margin-bottom: 1rem;
                color: $secondaryColor;
            }

            & .card-position{
                color: #fff;
                font-size: 1.2rem;
            }
        }
    }
}

@include teamCards();