@import "color";
@import "breakpoint";


footer{
    background-color: $primaryColor;
    text-align: center;
    padding: 3rem;
    height: 248px;
    position: relative;

    @include media("<=1155px"){
        height: auto;
    }

    & .footer-items{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;

        @include media("<=1155px"){
            grid-template-columns: repeat(2, 1fr);
        }

        @include media("<=768px"){
            grid-template-columns: repeat(1, 1fr);
        }
    }

    & .footer-copyright{
        position: absolute;
        bottom: 1rem;
        left: calc(50%);
        transform: translateX(calc(-50%));
    }
}