@import "color";
@import "breakpoint";
@import "fonts";


%form-control{
    background: transparent;
    background-color: $fouthColor;
    border: 0;
    border-radius: 0;
    line-height: 1.625rem;
    padding: .75rem 1.25rem .75rem 1.25rem;
    width: 100%;
    outline: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.general-form{

    width: 100%;

    & .general-form-row{
        
        margin-bottom: 1rem;

        & .general-form-group{
            display: grid;
            margin-bottom: .5rem;

            > span{
                margin-bottom: 1rem;
            }
            > input[type="text"], select{
                min-width: 280px;
                max-height: 50px;
                @extend %form-control;

            }

            > select{
                appearance: none;
            }

            > textarea{
                resize: none;
                @extend %form-control;
                min-width: 280px;
                white-space: pre-wrap;
            }

        }

    }
}