@import "color";
@import "breakpoint";


.master-nav-area{
    position: fixed;
    background-color: $primaryColor;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    text-align: center;
    display: grid;
    align-items: center;
    justify-items: center;
    text-transform: uppercase;
    visibility: hidden;
    transition: all .7s ease;

    & .master-logo{

        > img{
            width: 250px;
        }
        
    }

    & .master-nav-item, .master-nav-btn-group{

        > ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            > li{
                margin: 1rem 0;
                padding: 0 1rem;
            }
        }
    }


    &-active{
        visibility: visible;
        z-index: 1000;
        transition: all .7s ease;
    }
}

